[Unit]
Description=Ollama Service
After=network.target

[Service]
User=ollama
Group=ollama
ExecStart=/usr/bin/ollama serve
Restart=always

[Install]
WantedBy=multi-user.target
